{% extends "main.html" %}
{% block content %}

<div class="row divider blue"><div class="col-md-12"></div></div>
<div class="row banner main">
  <div class="col-md-1"></div>
  <div class="col-md-11 padding-none">
    <h1>Categories</h1>
  </div>
</div>

<div class='flash'>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
  </ul>
	{% endif %}
	{% endwith %}
</div>

<div class="row padding-top padding-bottom">
  <div class="col-md-1"></div>
  <div class="col-md-10 padding-none">
    {% if logged %}
    <a class="btn btn-success" href="{{url_for('newCategory')}}">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Add Category
    </a>
    {% endif %}
  </div>
  <div class="col-md-1"></div>
</div>
{% for category in categories %}

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 category-list">

      <div class="col-md-2">
        <img class="pull-right img-responsive" src="{{ category.img_url }}" alt="{{ category.name }} image.">
      </div>

      <div class="col-md-10">
        <a href = "{{url_for('showItems', category_id=category.id)}}">
          <h3>{{category.name}}</h3>
        </a>
      </div>

    </div>
    <div class="col-md-1"></div>
  </div>

{% endfor %}
{% endblock %}