{% extends "main.html" %}
{% block content %}

<div class="row divider blue"><div class="col-md-12"></div></div>
<div class="row banner main">
  <div class="col-md-1"></div>
  <div class="col-md-11 padding-none">
    <h1>{{item.name}}</h1>
  </div>
</div>

<div class='flash'>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
  </ul>
	{% endif %}
	{% endwith %}
</div>

<div class="row padding-top padding-bottom">
  <div class="col-md-1"></div>
  <div class="col-md-10 padding-none">
    <a class="btn btn-default" title="Go Back." href="{{url_for('showItems', category_id=item.category_id)}}">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" ></span> Back
    </a>
    {% if creator.is_user %}
    <a class="btn btn-primary" href="{{url_for('editItem', item_id=item.id, category_id=item.category_id)}}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Item
    </a>
    <a class="btn btn-danger" href="{{url_for('deleteItem', item_id=item.id, category_id=item.category_id)}}">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Item
    </a>
    {% endif %}
  </div>
  <div class="col-md-1"></div>
</div>


<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 category-list">
    <h3>{{item.name}}</h3>
    <p>{{item.description}}</p>
    <p>A WIKI ARTICLE OR ADDITIONAL INFO WILL GO HERE</p>
    <a href="wikipedia.org">Link to outside aritcle.</a>
  </div>
  <div class="col-md-1"></div>
</div>

{% endblock %}