{% extends "main.html" %}
{% block content %}

<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>New Item</h1>
		</div>
</div>

  <div class='flash'>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
  </ul>
	{% endif %}
	{% endwith %}
  </div>

<div class="row">
  <div class="col-md-6 col-md-offset-1 padding-none">
    <form action="#" method="post">
      <div class="form-group">
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        <label for="name">Name: </label>
        <input id="name" type="text" maxlength="100" class="form-control" name="name"/>
        <label for="description">Description: </label>
        <textarea id="description" maxlength="400" type="text" class="form-control" name="description"></textarea>
        <label for="img_url">Image URL: </label>
        <input id="img_url" maxlength="1800" type="text" class="form-control" name="img_url"/>
        <div class="padding-bottom"></div>
        <button class="btn btn-default" id="submit" type="submit">
          <span class="glyphicon glyphicon-list-alt"></span> Create
        </button>
        <a class="btn btn-default cancel" href="{{url_for('showItems', category_id=category_id)}}">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </a>
      </div>
    </form>

  </div>
</div>
{% endblock %}